Source: ntpsec-openrc
Section: misc
Priority: important
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: http://nxos.org


Package: ntpsec-openrc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openrc, ntpsec, ntpsec-ntpdate
Conflicts: systemd, systemd-sysv
Description: Package to add NTPsec configuration for OpenRC.
 This package will add the boot scripts to use ntpsec
 with OpenRC in Nitrux.

